
<body>
<div class="navbar">
	<ul>
		<li class="active"><%= link_to "Home", root_path %></li>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
		<li><%= link_to "Food Fight!", foodfight_path %></li>
		<li id="login"><%= link_to "Login", login_path %></li>
	</ul>
</div>

<div class="banner">
	<img src="/images/banners/Banner2.2.jpg">
</div>

<div class="content">
	<div class="heading">
		<h1>Featuring JSEC!</h1>
	</div>
	<div class="tile">
		<div class="tilepic">
		</div>
		<div class="tilecontent">
		</div>
	</div>
	
	<div class="tile">
		<div class="tilepic">
		</div>
		<div class="tilecontent">
		</div>
	</div>
	
	<div class="tile">
		<div class="tilepic">
		</div>
		<div class="tilecontent">
		</div>
	</div>
	
	<div class="tile">
		<div class="tilepic">
		</div>
		<div class="tilecontent">
		</div>
	</div>
	
</div>

</body>
